
/* first section start */

body{
    font-family: 'Karla', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Spline Sans', sans-serif;
margin: 0;
}
.display-flex{
    display: flex;
}
.half-text-color{
    color: rgb(190, 11, 182);
}
.banner-section{
margin-bottom: 130px;

}
.style-header{
    font-size: 35px;
  border-left: 5px solid rgb(190, 11, 182);
  border-radius: 5px;
}
.half-width p{
    margin-bottom: 30px;
   
}
.half-width{
    width: 50%;
    margin-left: 40px;
   
}
.half-width img{
    width: 80%;
    margin-left: 40px;
}
.link-button{
    text-decoration: none;
    color: white;
  background-image: linear-gradient(rgb(104, 16, 163), rgb(190, 11, 182));
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 400;
}
/* first section end */

/* second section start */
.header section{
 margin-bottom: 150px;
 
}
.align-style{
    text-align: center;
    font-size: 50px;
}

.half-2ndtext-color{
    color:rgb(190, 11, 182) ;
 }
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    
}
.flexible-container img{
width: 40%;
}
.flexible-container p{

}
.inner-div{
    background-color: rgba(139, 75, 123, 0.486);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 10px;

}
.inner-div2{
    background-color: rgba(34, 126, 138, 0.486);
    border-radius: 10px;
    margin: 10px 50px;
    padding: 10px 10px;

}
.inner-div3{
    background-color: rgba(38, 49, 139, 0.425);
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px 10px;
}
/* second section end */

/* Third section start */
.third-section{
    display: flex;
    background-image: url(./mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 130px 40px;
   background-size: 200px;
   margin-bottom: 100px;
   
}

.section-three-style{
    width: 50%;
 margin-right: 100px;
   
}
.section-three-style img{
width: 50%;
margin-left: 40%;

}
/* Third section end */

/* Fourth section start */
.section-four{
    display: flex;
  
    background-image: url(./mission-2022-main/images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:  950px 70px;
   background-size: 200px;
   margin-bottom: 100px;
   
}
.section-four-style{
    width: 50%;
    margin-left: 100px;
      
}
.section-four-style img{
    width: 50%;
margin-right: 40%;
}
/* forth section end */
/* Fifth section start */
.footer-section{
    text-align:center;
    margin-bottom: 60px;
}

.footer-section h1{
text-decoration: underline;
text-decoration-color: slateblue;
padding-bottom: 10px;
}

.footer-style{
width: 1000px;
height: 100px;
border-radius: 10px;
background-color: hsla(317, 28%, 10%, 0.199);
margin: 0 auto;
text-align: justify;
padding: 20px;
box-shadow: 10px 10px 20px rgba(67, 6, 71, 0.486);

}
/* fifth section end */
/*footer section*/
footer{
    text-align: center;
    padding:20px 0 ;
    color: white;
    background-color: rgb(15, 3, 29);
}